/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
body{
	background-color:#fce9c0;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}
header,h1{
	background-color:#fef8ea;
}

h4{
	text-align: center;
}
	
.forumTable,.replyTable,.contentTable {
	margin:50px; 
    border-collapse: collapse;
    width: 70%;
	margin-left:auto; 
    margin-right:auto;
	background-color:#CDD375;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.repliesTable{
    border-collapse: collapse;
    width: 40%;
	margin-left:auto; 
    margin-right:auto;
	background-color:#CDD375;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.commentTable,.postTable{
	border:1px solid black;
	margin-left:auto; 
    margin-right:auto;
	background-color:#fef8ea;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

th, td {
    text-align: left;
    padding: 8px;
}

.forumTable tr:nth-child(even),.replyTable tr:nth-child(even),.contentTable tr:nth-child(even), .repliesTable tr:nth-child(even){
	background-color: #f2f2f2;
}

.forumTable th,.replyTable th,.contentTable th {
    background-color: #1A4443;
    color: #FAF223;
}

.repliesTable th{
    background-color: #fef8ea;
    color: #FAF223;
}

.commentTable td,.postTable td{
	text-align: center;
	padding: 8px;
}

form{
  margin:50px; 
}

