/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  text-align: center;
  background-color: gray;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

.logo{
  font-style: italic;
  font-size: 10px;
}

form{
  margin:50px; 
}

table{
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}

/* css for navigator */
ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#e8d176;
}

li{
  float:left;
}

li a, .dropbtn
{
  display:inline-block;
  color:#49450a;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}

li a:hover, .dropdown:hover, .dropbtn
{
  background-color:#ecdfab;
}

.dropdown
{
  float:right;
  display:inline-block;
}

.dropdown-content
{
  display:none;
  position:absolute;
  background-color:#e8d176;
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  right:0;
}

.dropdown-content a
{
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
}

.dropdown-content a:hover {background-color: #ecdfab}

.dropdown:hover .dropdown-content
{
  display:block;
}
